<a href="https://colab.research.google.com/github/Harl-Melendez/58009-DSAA/blob/main/Array_Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accesing the elements in the array

In [1]:
animals = ["cat", "dog", "fish"]
x = animals[0]
print (x)

cat

Modifying

In [2]:
animals = ["cat", "dog", "fish"]
x = animals[0] = "monkey"
print (animals)

['monkey', 'dog', 'fish']

Length of an array

In [3]:
animals = ["cat", "dog", "fish"]
x = len(animals)
print (x)

3

Looping Array Elements

In [4]:
animals = ["cat", "dog", "fish"]
for x in animals:
  print(x)

cat
dog
fish

Adding Array Elements

In [7]:
animals = ["cat", "dog", "fish"]
animals.append("monkey")
print(animals)

['cat', 'dog', 'fish', 'monkey']

Removing an Element in the Array

In [12]:
animals = ["cat", "dog", "fish"]
animals.pop(1)
print (animals)

['cat', 'fish']

Traversal

In [ ]:
animals = ["cat", "dog", "fish"]
x = animals[0]
print (x)

Modify

In [ ]:
animals = ["cat", "dog", "fish"]
x = animals[0] = "monkey"
print (animals)

Adding

In [ ]:
animals = ["cat", "dog", "fish"]
animals.append("monkey")
print(animals)

Insertion

In [24]:
animals = ["cat", "dog", "fish"]
animals.insert(2,"ugot")
print(animals)

['cat', 'dog', 'ugot', 'fish']

Deletion

In [ ]:
animals = ["cat", "dog", "fish"]
animals.pop(0)
print (animals)

Sorting

In [26]:
animals = ["cat", "dog", "fish"]
animals.sort()
print (animals)

['cat', 'dog', 'fish']

Write a Python program to create an array of 10 integers and display the array items. Access individual elements through indexes and compute for the sum

In [128]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in num:
 total = sum(num)
 print("Index", num.index(x), "=", x)
print("Total:", total)

TypeError: ignored

Write a Python program to append a new item to the end of the array. Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

Write a Python program to insert a new item before the second element in an existing array. Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Write a Python program to reverse the order of the items in the array.Original array: numbers = [5, 4, 3, 2, 1]

In [32]:
numbers = [5,4,3,2,1]
numbers.reverse()
print(numbers)

[1, 2, 3, 4, 5]

Write a Python program to get the length of the array. Original array: numbers = [5, 4, 3, 2, 1]

In [33]:
numbers = [5, 4, 3, 2, 1]
x = len(numbers)
print(x)

5